In [1]:
from venim.stats import scan_image_directory

In [2]:
scan_image_directory?

Signature: scan_image_directory(path)
Docstring:
Scan directory of FITS files to create basic stats.

Creates CSV file ready to be read by pandas and print-out of the stats if
less than 100 entries.

Parameters
----------
path : str, pathlib.Path

Returns
-------
pd.DataFrame
    DataFrame containing the collected stats
File:      ~/Dropbox/src/venim/venim/stats.py
Type:      function

In [3]:
from pathlib import Path
path = Path("/Users/klay6683/Dropbox/Shared/venus/set2")

In [4]:
df = scan_image_directory(path)
df

23 images found.
Scanning directory...

HBox(children=(IntProgress(value=0, max=23), HTML(value='')))

Metadata CSV generated at /Users/klay6683/Dropbox/Shared/venus/set2/directory.csv

,name,date,time,filter,exposure,hasSlit,isValid
0,sgd.2017A072.170429.im.00076.a.fits,2017-04-29,16:29:00.743649,contK,0.4825,False,True
1,sgd.2017A072.170429.im.00085.a.fits,2017-04-29,16:29:23.791623,contK,0.4825,False,True
2,sgd.2017A072.170429.im.00089.a.fits,2017-04-29,16:29:34.030940,contK,0.4825,False,True
3,sgd.2017A072.170429.im.00095.a.fits,2017-04-29,16:29:49.287968,contK,0.4825,False,True
4,sgd.2017A072.170429.im.00087.a.fits,2017-04-29,16:29:28.900203,contK,0.4825,False,True
5,sgd.2017A072.170429.im.00074.a.fits,2017-04-29,16:28:55.619760,contK,0.4825,False,True
6,sgd.2017A072.170429.im.00078.a.fits,2017-04-29,16:29:05.857341,contK,0.4825,False,True
7,sgd.2017A072.170429.im.00083.a.fits,2017-04-29,16:29:18.674485,contK,0.4825,False,True
8,sgd.2017A072.170429.im.00091.a.fits,2017-04-29,16:29:39.093477,contK,0.4825,False,True
9,sgd.2017A072.170429.im.00093.a.fits,2017-04-29,16:29:44.162143,contK,0.4825,False,True
10,sgd.2017A072.170429.im.00081.a.fits,2017-04-29,16:29:13.553948,contK,0.4825,False,True
11,sgd.2017A072.170429.im.00084.a.fits,2017-04-29,16:29:21.238418,contK,0.4825,False,True
12,sgd.2017A072.170429.im.00088.a.fits,2017-04-29,16:29:31.461985,contK,0.4825,False,True
13,sgd.2017A072.170429.im.00077.a.fits,2017-04-29,16:29:03.296171,contK,0.4825,False,True
14,sgd.2017A072.170429.im.00075.a.fits,2017-04-29,16:28:58.181967,contK,0.4825,False,True
15,sgd.2017A072.170429.im.00079.a.fits,2017-04-29,16:29:08.424829,contK,0.4825,False,True
16,sgd.2017A072.170429.im.00094.a.fits,2017-04-29,16:29:46.728242,contK,0.4825,False,True
17,sgd.2017A072.170429.im.00086.a.fits,2017-04-29,16:29:26.346229,contK,0.4825,False,True
18,sgd.2017A072.170429.im.00082.a.fits,2017-04-29,16:29:16.113968,contK,0.4825,False,True
19,sgd.2017A072.170429.im.00090.a.fits,2017-04-29,16:29:36.531259,contK,0.4825,False,True
20,sgd.2017A072.170429.im.00092.a.fits,2017-04-29,16:29:41.600478,contK,0.4825,False,True
21,sgd.2017A072.170429.im.00080.a.fits,2017-04-29,16:29:10.986995,contK,0.4825,False,True
22,sgd.2017A072.170429.im.00073.a.fits,2017-04-29,16:28:53.062309,contK,0.4825,False,True

In [5]:
df = scan_image_directory("/Users/klay6683/Dropbox/Shared/venus/set3_with_slits")
df

16 images found.
Scanning directory...

HBox(children=(IntProgress(value=0, max=16), HTML(value='')))

Metadata CSV generated at /Users/klay6683/Dropbox/Shared/venus/set3_with_slits/directory.csv

,name,date,time,filter,exposure,hasSlit,isValid
0,sgd.2017A072.170429.im.00886.a.fits,2017-04-29,17:12:35.944281,contK,0.4825,True,True
1,sgd.2017A072.170429.im.00898.a.fits,2017-04-29,17:13:06.644083,contK,0.4825,True,True
2,sgd.2017A072.170429.im.00894.a.fits,2017-04-29,17:12:56.395786,contK,0.4825,True,True
3,sgd.2017A072.170429.im.00888.a.fits,2017-04-29,17:12:41.087347,contK,0.4825,True,True
4,sgd.2017A072.170429.im.00896.a.fits,2017-04-29,17:13:01.493163,contK,0.4825,True,True
5,sgd.2017A072.170429.im.00884.a.fits,2017-04-29,17:12:30.836675,contK,0.4825,True,True
6,sgd.2017A072.170429.im.00892.a.fits,2017-04-29,17:12:51.282221,contK,0.4825,True,True
7,sgd.2017A072.170429.im.00890.a.fits,2017-04-29,17:12:46.186308,contK,0.4825,True,True
8,sgd.2017A072.170429.im.00899.a.fits,2017-04-29,17:13:09.199857,contK,0.4825,True,True
9,sgd.2017A072.170429.im.00887.a.fits,2017-04-29,17:12:38.499589,contK,0.4825,True,True
10,sgd.2017A072.170429.im.00895.a.fits,2017-04-29,17:12:58.936358,contK,0.4825,True,True
11,sgd.2017A072.170429.im.00897.a.fits,2017-04-29,17:13:04.070775,contK,0.4825,True,True
12,sgd.2017A072.170429.im.00889.a.fits,2017-04-29,17:12:43.630177,contK,0.4825,True,True
13,sgd.2017A072.170429.im.00885.a.fits,2017-04-29,17:12:33.387360,contK,0.4825,True,True
14,sgd.2017A072.170429.im.00893.a.fits,2017-04-29,17:12:53.838908,contK,0.4825,True,True
15,sgd.2017A072.170429.im.00891.a.fits,2017-04-29,17:12:48.727766,contK,0.4825,True,True